<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">   
<head>
    <meta charset="UTF-8">
    <title>UI</title>
</head>
<body>
<div align = "center"></div>
<h1>Rental</h1>
<table>
    <thead>
    <tr>
        <th>ID </th>
        <th>START_DATE </th>
        <th>END_DATE </th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="rental : ${listRentals}">
	<td th:text =  "${rental.ID}"></td>
		<td th:text =  "${rental.START_DATE}"></td>
			<td th:text =  "${rental.END_DATE}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>