<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Client Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>

<body>
    <div class="container my-3">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <h2>Client Registration</h2>
                <form th:action="@{/save}" th:object="${client}" method="post">
                    <div class="form-row">
                        <div class="col-md-12 form-group">
                            <label>name</label>
                            <input type="text" class="form-control" th:field="*{name}">
                        </div>
                    </div>
                        <div class="form-row">
                        <div class="col-md-12 form-group">
                            <label>surname</label>
                            <input type="text" class="form-control" th:field="*{surname}">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 form-group">
                            <label>login</label>
                            <input type="text" class="form-control" th:field="*{username}">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 form-group">
                            <label>password</label>
                            <input type="password" class="form-control" th:field="*{password}">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block mt-3">Save</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</body>

</html>